.s1-faq-cont {
    text-align: center;
    margin-bottom: 20px;
    padding-inline: 10vw;
    padding-bottom: 20px;
    margin-inline: auto;
}
.s1-faq-question-cont {
    width: 35%;
    margin-inline: auto;
    margin-top: 25px;
}

.faq-question {
    font-size: 1.3em;
    display: block;
    color: #8e9c9c;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.6);
}

.faq-answer {
    margin: 15px auto;
    padding: 30px;
    border-radius: 20px;
    color: #244d4e;
    font-size: 1.2em;
    background-color: rgba(242, 237, 251, 0.8);
    border: #244d4e 2px solid;
    word-wrap: break-word;  
    width: 50%;
    box-shadow: 0px 5px 10px 5px rgba(2, 2, 2, 0.4);
}



@media (max-width: 1058px) {
    .s1-faq-cont {
        padding-inline: 0;
    }
    .s1-faq-cont {
        width: 90vw;
    }
    .s1-faq-question-cont {
        width: 100%;
    }
    .faq-answer {
        width: 100%;
    }
}

@media (max-width: 335px) {
    .faq-question {
        font-size: 1.1em;
    }

    .faq-answer {
        padding: 20px;
    }
}