.s1-faq-cont {
    padding-inline: 7vw;
    text-align: center;
}

.faq-question {
    font-size: 1.3em;
}

.faq-answer {
    width: fit-content;
    margin: 15px auto;
    padding: 30px;
    border-radius: 20px;
    color: #244d4e;
    font-size: 1.2em;
    background-color: rgba(242, 237, 251, 0.5);
    border: #244d4e 2px solid;
}

.main-hr {
    margin-top: 20px;
}