.s1-faq-cont {
    padding-inline: 7vw;
    text-align: center;
}

.faq-question {
    font-size: 1.3em;
}

.faq-answer {
    margin-top: 15px;
    color: #244d4e;
    font-size: 1.2em;
}

.main-hr {
    margin-top: 20px;
}