.s1-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 10vw;
  padding-bottom: 20px;
}

.s1-img {
  border: #244d4e 2px solid;
  max-height: 600px;
  float: left;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.s1-text {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 50vw;
  font-size: 1.3em;
  padding: 20px;
  overflow: hidden;
}

.s1-text-title {
  font-size: 1.6vw;
}

.s1-text-p {
  font-size: 1.5vw;
}

.s1-text-end {
  font-size: 1.55vw;
}

@media (max-width: 1058px) {
  /* перенос текста в Section 1 */
  .s1-cont {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-inline: 0;
  }

  .s1-img {
    max-width: 90vw;
    float: none;
  }

  .s1-text {
    display: block;
    width: 80vw;
    font-size: 1.4em;
    height: fit-content;
    padding: 20px 0;
  }
  .s1-text-title {
    margin-bottom: 15px;
    font-size: 1.3em;
  }

  .s1-text-p {
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  .s1-text-end {
    font-size: 1.25em;
  }
}


