@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body,
html {
  background-color: #748484;
}
a {
  text-decoration: none;
}
section {
  margin-top: 40px;
}

nav {
  /* position: fixed; */
  background-color: #244d4e;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.logo-cont {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 55px;
  border-radius: 50%;
  margin: 5px 20px;
}
.logo-text {
  /* color: #d0667c; */
  color: black;
  font-size: 2em;
  cursor: pointer;
  transition: 0.4s;
}

.nav-a-cont {
  margin: 20px 0;
}

.nav-a-cont > a {
  color: #8aa4a8;
  font-size: 1.3em;
  margin-inline: 5px;
  cursor: pointer;
  transition: 0.4s;
  text-align: center;
}

.nav-a-cont > a:hover {
  color: #b01633;
}
.logo-text:hover {
  color: #7a0a1a;
}


.main-hr {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline: auto;
  width: 50%;
  height: 2px;
  border: 0;
  background-color: #244d4e;
}
@media (max-width: 700px) {
  nav {
    flex-wrap: wrap;
  }
  .logo-cont {
    width: 100vw;
    justify-content: center;
  }
  .nav-a-cont > a {
    font-size: 1.3em;
  }
}

@media (max-width: 365px) {
  .nav-a-cont > a {
    font-size: 0.9em;
  }

}
